[data-page=".global_login"][data-itemid="username_label"] {
  font-weight: bold;
  font-size: 14px;
  font-family: "Montserrat";
}
[data-page=".global_login"][data-itemid="password_label"] {
  font-weight: bold;
  font-size: 14px;
  font-family: "Montserrat";
}
[data-page=".global_login"][data-itemid="login_button"] > .btn {
  width: 100%;
}
[data-page=".global_login"][data-itemid="login-logo"] {
  font-weight: bold;
  font-size: 24px;
  font-family: "Montserrat";
}
[data-page=".global_login"][data-itemid="login_welcome"] {
  font-weight: bold;
  font-size: 16px;
  font-family: "Montserrat";
}
[data-page=".global_login"][data-itemid="login_remind"] > .btn {
  text-decoration: underline;
}
[data-page=".global_login"][data-itemid="text"] {
  font-weight: bold;
  font-size: 25px;
  font-family: "Montserrat";
}
[data-page=".global_login"][data-itemid="text1"] {
  color: #008cba;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  font-family: "Montserrat";
}

.form-control {
    display: block;
    width: 100%;
    height: 55px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control {
    display: block;
    width: 100%;
    height: 55px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* Put  your custom CSS code here */

.r-pretty-login-page > .r-controls .r-mainform {
    min-width: 350px;
    width: 550px;
    margin-bottom: 50px;
  }