[data-cellid="grid_footcell_field"][data-page="hasil_proses_api_list"][data-cellid="grid_footcell_field"][data-page="hasil_proses_api_list"][data-cellid="grid_footcell_field"][data-page="hasil_proses_api_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="hasil_proses_api_list"][data-cellid="grid_footcell_field2"][data-page="hasil_proses_api_list"][data-cellid="grid_footcell_field2"][data-page="hasil_proses_api_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="hasil_proses_api_list"][data-cellid="grid_headcell_checkbox"][data-page="hasil_proses_api_list"][data-cellid="grid_headcell_checkbox"][data-page="hasil_proses_api_list"] {
  width: 30px;
}
[data-page="hasil_proses_api_list"][data-itemid="simple_grid_field13"] {
  font-weight: bold;
}
[data-page="hasil_proses_api_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


