[data-page="soa_cis_view1_search"][data-itemid="integrated_search_field"] {
  width: 200px;
}
[data-page="soa_cis_view1_search"][data-itemid="integrated_search_field1"] {
  width: 200px;
}
[data-page="soa_cis_view1_search"][data-itemid="integrated_search_field5"] {
  width: 200px;
}
[data-page="soa_cis_view1_search"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


