[data-cellid="grid_footcell_field4"][data-page="tembsicitasal_view_list"][data-cellid="grid_footcell_field4"][data-page="tembsicitasal_view_list"][data-cellid="grid_footcell_field4"][data-page="tembsicitasal_view_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="tembsicitasal_view_list"][data-cellid="grid_headcell_checkbox"][data-page="tembsicitasal_view_list"][data-cellid="grid_headcell_checkbox"][data-page="tembsicitasal_view_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="tembsicitasal_view_list"][data-cellid="grid_headcell_icons"][data-page="tembsicitasal_view_list"][data-cellid="grid_headcell_icons"][data-page="tembsicitasal_view_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="tembsicitasal_view_list"][data-cellid="grid_cell_icons"][data-page="tembsicitasal_view_list"][data-cellid="grid_cell_icons"][data-page="tembsicitasal_view_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field6"][data-page="tembsicitasal_view_list"][data-cellid="grid_headcell_field6"][data-page="tembsicitasal_view_list"][data-cellid="grid_headcell_field6"][data-page="tembsicitasal_view_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field9"][data-page="tembsicitasal_view_list"][data-cellid="grid_headcell_field9"][data-page="tembsicitasal_view_list"][data-cellid="grid_headcell_field9"][data-page="tembsicitasal_view_list"] {
  white-space: nowrap;
}
[data-page="tembsicitasal_view_list"][data-itemid="grid_field_totals"] {
  font-weight: bold;
}
[data-page="tembsicitasal_view_list"][data-itemid="text"] {
  font-weight: bold;
}
[data-page="tembsicitasal_view_list"][data-itemid="text1"] {
  font-weight: bold;
}
[data-page="tembsicitasal_view_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


