[data-page="tempbsicis_ol_edit"][data-itemid="edit_field_label"][data-page="tempbsicis_ol_edit"][data-itemid="edit_field_label"][data-page="tempbsicis_ol_edit"][data-itemid="edit_field_label"][data-page="tempbsicis_ol_edit"][data-itemid="edit_field_label"] {
  font-weight: bold;
}
[data-page="tempbsicis_ol_edit"][data-itemid="edit_field_label1"][data-page="tempbsicis_ol_edit"][data-itemid="edit_field_label1"][data-page="tempbsicis_ol_edit"][data-itemid="edit_field_label1"][data-page="tempbsicis_ol_edit"][data-itemid="edit_field_label1"] {
  font-weight: bold;
}
[data-page="tempbsicis_ol_edit"][data-itemid="edit_field_label2"][data-page="tempbsicis_ol_edit"][data-itemid="edit_field_label2"][data-page="tempbsicis_ol_edit"][data-itemid="edit_field_label2"][data-page="tempbsicis_ol_edit"][data-itemid="edit_field_label2"] {
  font-weight: bold;
}
[data-page="tempbsicis_ol_edit"][data-itemid="edit_field_label3"][data-page="tempbsicis_ol_edit"][data-itemid="edit_field_label3"][data-page="tempbsicis_ol_edit"][data-itemid="edit_field_label3"][data-page="tempbsicis_ol_edit"][data-itemid="edit_field_label3"] {
  font-weight: bold;
}
[data-page="tempbsicis_ol_edit"][data-itemid="edit_field_label4"][data-page="tempbsicis_ol_edit"][data-itemid="edit_field_label4"][data-page="tempbsicis_ol_edit"][data-itemid="edit_field_label4"][data-page="tempbsicis_ol_edit"][data-itemid="edit_field_label4"] {
  font-weight: bold;
}
[data-page="tempbsicis_ol_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


