[data-page="v4_dashboard"][data-itemid="dashboard-item4"] {
  height: 200px;
}
[data-page="v4_dashboard"][data-itemid="dashboard-item5"] {
  height: 620px;
}
[data-page="v4_dashboard"][data-itemid="dashboard-item6"] {
  height: 400px;
}
[data-page="v4_dashboard"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


