<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel report_upload_file search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN TGLAKAD_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TGLAKAD}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="TGLAKAD{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="TGLAKAD" data-fieldname="TGLAKAD" >


	<label class="r-search-label control-label" for="{$labelfor_TGLAKAD}">
		{$label report_upload_file TGLAKAD }	</label>
	<div class="r-search-option">
		{$searchtype_TGLAKAD}
	</div>
	<div class="r-search-field">
		{$TGLAKAD_editcontrol}	</div>
	<div class="r-search-field">
		{$TGLAKAD_editcontrol1}
	</div>
	
</div>

{END TGLAKAD_fieldblock}
											
{BEGIN ADDDATE_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ADDDATE}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ADDDATE{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="ADDDATE" data-fieldname="ADDDATE" >


	<label class="r-search-label control-label" for="{$labelfor_ADDDATE}">
		{$label report_upload_file ADDDATE }	</label>
	<div class="r-search-option">
		{$searchtype_ADDDATE}
	</div>
	<div class="r-search-field">
		{$ADDDATE_editcontrol}	</div>
	<div class="r-search-field">
		{$ADDDATE_editcontrol1}
	</div>
	
</div>

{END ADDDATE_fieldblock}
											
{BEGIN NIK_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_NIK}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="NIK{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="NIK" data-fieldname="NIK" >


	<label class="r-search-label control-label" for="{$labelfor_NIK}">
		{$label report_upload_file NIK }	</label>
	<div class="r-search-option">
		{$searchtype_NIK}
	</div>
	<div class="r-search-field">
		{$NIK_editcontrol}	</div>
	<div class="r-search-field">
		{$NIK_editcontrol1}
	</div>
	
</div>

{END NIK_fieldblock}
											
{BEGIN TGLLAHIR_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TGLLAHIR}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="TGLLAHIR{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="TGLLAHIR" data-fieldname="TGLLAHIR" >


	<label class="r-search-label control-label" for="{$labelfor_TGLLAHIR}">
		{$label report_upload_file TGLLAHIR }	</label>
	<div class="r-search-option">
		{$searchtype_TGLLAHIR}
	</div>
	<div class="r-search-field">
		{$TGLLAHIR_editcontrol}	</div>
	<div class="r-search-field">
		{$TGLLAHIR_editcontrol1}
	</div>
	
</div>

{END TGLLAHIR_fieldblock}
											
{BEGIN ALAMAT_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ALAMAT}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ALAMAT{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="ALAMAT" data-fieldname="ALAMAT" >


	<label class="r-search-label control-label" for="{$labelfor_ALAMAT}">
		{$label report_upload_file ALAMAT }	</label>
	<div class="r-search-option">
		{$searchtype_ALAMAT}
	</div>
	<div class="r-search-field">
		{$ALAMAT_editcontrol}	</div>
	<div class="r-search-field">
		{$ALAMAT_editcontrol1}
	</div>
	
</div>

{END ALAMAT_fieldblock}
											
{BEGIN BSMID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_BSMID}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="BSMID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="BSMID" data-fieldname="BSMID" >


	<label class="r-search-label control-label" for="{$labelfor_BSMID}">
		{$label report_upload_file BSMID }	</label>
	<div class="r-search-option">
		{$searchtype_BSMID}
	</div>
	<div class="r-search-field">
		{$BSMID_editcontrol}	</div>
	<div class="r-search-field">
		{$BSMID_editcontrol1}
	</div>
	
</div>

{END BSMID_fieldblock}
											
{BEGIN PROPOSALNO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PROPOSALNO}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PROPOSALNO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="PROPOSALNO" data-fieldname="PROPOSALNO" >


	<label class="r-search-label control-label" for="{$labelfor_PROPOSALNO}">
		{$label report_upload_file PROPOSALNO }	</label>
	<div class="r-search-option">
		{$searchtype_PROPOSALNO}
	</div>
	<div class="r-search-field">
		{$PROPOSALNO_editcontrol}	</div>
	<div class="r-search-field">
		{$PROPOSALNO_editcontrol1}
	</div>
	
</div>

{END PROPOSALNO_fieldblock}
											
{BEGIN PREMI_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PREMI}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PREMI{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="PREMI" data-fieldname="PREMI" >


	<label class="r-search-label control-label" for="{$labelfor_PREMI}">
		{$label report_upload_file PREMI }	</label>
	<div class="r-search-option">
		{$searchtype_PREMI}
	</div>
	<div class="r-search-field">
		{$PREMI_editcontrol}	</div>
	<div class="r-search-field">
		{$PREMI_editcontrol1}
	</div>
	
</div>

{END PREMI_fieldblock}
											
{BEGIN RATE_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_RATE}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="RATE{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="RATE" data-fieldname="RATE" >


	<label class="r-search-label control-label" for="{$labelfor_RATE}">
		{$label report_upload_file RATE }	</label>
	<div class="r-search-option">
		{$searchtype_RATE}
	</div>
	<div class="r-search-field">
		{$RATE_editcontrol}	</div>
	<div class="r-search-field">
		{$RATE_editcontrol1}
	</div>
	
</div>

{END RATE_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Cari			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Tata ulang			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Batal			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
