<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-print" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel TEMPBSICIS_view1 print}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
			</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" data-small >
	{$print_pages_labelprint_pages}
</span>			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
									{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<table data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" class=" table table-condensed table-striped table-hover table-bordered r-horizontal-grid  rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
			
																									<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$IDCIS_class}	"

			data-field="IDCIS"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN IDCIS_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IDCIS" data-fieldname="IDCIS">
	{$label TEMPBSICIS_view1 IDCIS }	</span>
{END IDCIS_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
									{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CIS_TOKEN_class}	"

			data-field="CIS_TOKEN"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CIS_TOKEN_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CIS_TOKEN" data-fieldname="CIS_TOKEN">
	{$label TEMPBSICIS_view1 CIS_TOKEN }	</span>
{END CIS_TOKEN_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
									{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CIS_REGION_class}	"

			data-field="CIS_REGION"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CIS_REGION_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CIS_REGION" data-fieldname="CIS_REGION">
	{$label TEMPBSICIS_view1 CIS_REGION }	</span>
{END CIS_REGION_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
									{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CIS_AREA_class}	"

			data-field="CIS_AREA"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CIS_AREA_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CIS_AREA" data-fieldname="CIS_AREA">
	{$label TEMPBSICIS_view1 CIS_AREA }	</span>
{END CIS_AREA_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
									{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$SUMINSURED_class}	"

			data-field="SUMINSURED"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN SUMINSURED_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="SUMINSURED" data-fieldname="SUMINSURED">
	{$label TEMPBSICIS_view1 SUMINSURED }	</span>
{END SUMINSURED_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
									{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CIS_UPL_USER_class}	"

			data-field="CIS_UPL_USER"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CIS_UPL_USER_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CIS_UPL_USER" data-fieldname="CIS_UPL_USER">
	{$label TEMPBSICIS_view1 CIS_UPL_USER }	</span>
{END CIS_UPL_USER_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
									{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CIS_UPL_DATE_class}	"

			data-field="CIS_UPL_DATE"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CIS_UPL_DATE_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CIS_UPL_DATE" data-fieldname="CIS_UPL_DATE">
	{$label TEMPBSICIS_view1 CIS_UPL_DATE }	</span>
{END CIS_UPL_DATE_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
									{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CIS_FL_class}	"

			data-field="CIS_FL"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CIS_FL_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CIS_FL" data-fieldname="CIS_FL">
	{$label TEMPBSICIS_view1 CIS_FL }	</span>
{END CIS_FL_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
									{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Cabang_class}	"

			data-field="Cabang"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Cabang_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Cabang" data-fieldname="Cabang">
	{$label TEMPBSICIS_view1 Cabang }	</span>
{END Cabang_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
									{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Periode_class}	"

			data-field="Periode"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Periode_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Periode" data-fieldname="Periode">
	{$label TEMPBSICIS_view1 Periode }	</span>
{END Periode_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
							</tr>
															
					{END grid_header}
			</thead>
															{BEGIN grid_row}
					<tbody>
							
																														<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$IDCIS_class}	"

			data-field="IDCIS"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN IDCIS_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IDCIS" data-fieldname="IDCIS" data-default-width >
{$IDCIS_value}
</span>
{END IDCIS_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CIS_TOKEN_class}	"

			data-field="CIS_TOKEN"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CIS_TOKEN_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CIS_TOKEN" data-fieldname="CIS_TOKEN" data-default-width >
{$CIS_TOKEN_value}
</span>
{END CIS_TOKEN_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
									{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CIS_REGION_class}	"

			data-field="CIS_REGION"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CIS_REGION_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CIS_REGION" data-fieldname="CIS_REGION" data-default-width >
{$CIS_REGION_value}
</span>
{END CIS_REGION_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
									{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CIS_AREA_class}	"

			data-field="CIS_AREA"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CIS_AREA_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CIS_AREA" data-fieldname="CIS_AREA" data-default-width >
{$CIS_AREA_value}
</span>
{END CIS_AREA_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
									{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$SUMINSURED_class}	"

			data-field="SUMINSURED"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN SUMINSURED_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="SUMINSURED" data-fieldname="SUMINSURED" data-default-width >
{$SUMINSURED_value}
</span>
{END SUMINSURED_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
									{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CIS_UPL_USER_class}	"

			data-field="CIS_UPL_USER"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CIS_UPL_USER_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CIS_UPL_USER" data-fieldname="CIS_UPL_USER" data-default-width >
{$CIS_UPL_USER_value}
</span>
{END CIS_UPL_USER_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
									{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CIS_UPL_DATE_class}	"

			data-field="CIS_UPL_DATE"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CIS_UPL_DATE_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CIS_UPL_DATE" data-fieldname="CIS_UPL_DATE" data-default-width >
{$CIS_UPL_DATE_value}
</span>
{END CIS_UPL_DATE_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
									{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CIS_FL_class}	"

			data-field="CIS_FL"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CIS_FL_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CIS_FL" data-fieldname="CIS_FL" data-default-width >
{$CIS_FL_value}
</span>
{END CIS_FL_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
									{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Cabang_class}	"

			data-field="Cabang"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Cabang_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Cabang" data-fieldname="Cabang" data-default-width >
{$Cabang_value}
</span>
{END Cabang_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
									{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Periode_class}	"

			data-field="Periode"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Periode_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Periode" data-fieldname="Periode" data-default-width >
{$Periode_value}
</span>
{END Periode_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
							</tr>
										
											</tbody>
					{END grid_row}
													<tfoot>
			
																																			<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$IDCIS_class}	"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tempbsicis_view1_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
									{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CIS_TOKEN_class}	"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tempbsicis_view1_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
									{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CIS_REGION_class}	"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tempbsicis_view1_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
									{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CIS_AREA_class}	"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tempbsicis_view1_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
									{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$SUMINSURED_class}	"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tempbsicis_view1_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
									{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CIS_UPL_USER_class}	"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tempbsicis_view1_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
									{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CIS_UPL_DATE_class}	"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tempbsicis_view1_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
									{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CIS_FL_class}	"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tempbsicis_view1_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
									{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Cabang_class}	"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tempbsicis_view1_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
									{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Periode_class}	"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tempbsicis_view1_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
			</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
